<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'catalog' %}">Каталог</a></li>
        <li><a href="{% url 'categories' %}">Категории</a></li>
        <li><a href="{% url 'tags' %}">Теги</a></li>
        <li><a href="{% url 'add_product' %}">Добавить товар</a></li>
        <li><a href="{% url 'add_category' %}">Добавить категорию</a></li>
        <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
        <li><a href="{% url 'cart' %}">Корзина</a></li>
        <li><a href="{% url 'contact' %}">Обратная связь</a></li>
    </ul>
</nav>
